#username{
    margin-top: 25px;
 width: 120px;
 height: 35px;
}



.doit{
    text-align: center;
    color: blueviolet;
    font-size: 80px ;
}
.box {
    width:200px ;
height: 200px;
}
#boxes{
    display: flex;
    justify-content: center;
    align-items: center;

}

